* {
    font-family: 'Lato', sans-serif;
  }
  
  :root {
    --bg-color: #2C2C2C;
    --text-color: #F3F6F5;
    font-size: 18px;
  }
 
  /* .header{
    height: 75vh;
    background-image: url("https://arc-anglerfish-arc2-prod-corprensa.s3.amazonaws.com/public/XHBPGM5N35BMPJF7RRNORVOKTU.jpg");
    background-size: cover;

  } */
  body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  a {
    color: var(--text-color)
  }
  
  p {
    margin-bottom: 0.75rem;
    line-height: 1.2rem;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    padding: 20px 0px;
    border-top: 1px solid grey;
    width: 100%;
    text-align: center;
  }
  
  .search-form {
    margin: 20px 20px;
  }
  
  .searchbox {
    padding: 10px 20px;
    background-color: var(--text-color);
    max-width: 480px;
    margin: 0px auto;
    border-radius: 3px;
  }
  
  .search {
    width: 100%;
    background-color: var(--text-color);
    border: none;
    font-size: 1rem;
  }
  
  .search:focus {
    outline: none;
  }
  
  .weather-card {
    margin: 20px 20px;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    display: none;
  }
  
  .city {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  
  .date {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  
  
  .temperature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .temp-img {
    width: 50px;
    margin-right: 10px;
  }
  
  .temp {
    font-size: 2.2rem;
    font-weight: bold;
  }
  
  .weather {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }